@using CapstoneProject_PayrollSystem_v1.Models
@model LoginViewModel

@{
    Layout = "";
 }
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AdminLTE 3 | Log in</title>

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome Icons -->
    @Styles.Render("~/Content/css")
    <!-- Theme style -->
    @Scripts.Render("~/bundles/modernizr")
</head>
<body class="hold-transition login-page">
    <div class="login-box">
        <!-- /.login-logo -->
        <div class="login-logo">
            <img src="~/Adminlte/img/underConstruction.png" class="img-fluid" alt="Company logo">
        </div>
        <!-- /.login-logo -->
        <div class="card">
            <div class="card-body login-card-body">
                <p class="login-box-msg">Sign in to start your session</p>

                @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })






                    <!-- /.username -->
                    <div class="input-group mb-2">
                        @Html.LabelFor(m => m.Email, new { @class = "input-group mb-3 control-label" })
                        <div class="input-group mb-1">
                            @Html.TextBoxFor(m => m.Email, new { placeholder = "Email", @class = "form-control" })
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <span class="fas fa-envelope"></span>
                                </div>
                            </div>
                        </div>
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    </div>

                    <!-- /.username -->





                    <!-- /.password -->
                    <div class="input-group mb-2">
                        @Html.LabelFor(m => m.Password, new { @class = "input-group mb-3 control-label" })
                        <div class="input-group mb-1">
                            @Html.PasswordFor(m => m.Password, new { placeholder = "Password", @class = "form-control" })
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <span class="fas fa-lock"></span>
                                </div>
                            </div>
                        </div>
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    </div>
                    <!-- /.password -->




                    <!-- /.sign in -->
                    <div class="mb-3">
                        <button type="submit" class="btn btn-primary btn-block">Sign In</button>
                    </div>
                    <!-- /.sign in  -->
                }





                <div class="mb-1">
                    <div class="icheck-primary">
                        @Html.CheckBoxFor(m => m.RememberMe)
                        @Html.LabelFor(m => m.RememberMe)
                    </div>
                </div>



                <!-- /.todo -->
                <p class="mb-1">
                    <a href="forgot-password.html">I forgot my password</a>
                </p>
              
                <a class="mb-0">@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</a>
            </div>
            <!-- /.login-card-body -->
        </div>
    </div>
    <!-- /.login-box -->
    <!-- REQUIRED SCRIPTS -->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/adminlte/js")
</body>
</html>
